.feature {
  padding: 30px 0;
}

.feature > .container {
  width: 100%;
  max-width: 800px;

}

.feature .text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 3rem;
}

.feature-wrap {
  height: 56px;
  display: flex;
  justify-content:space-between;
}

.feature-wrap::-webkit-scrollbar {
  display: none;
}

.feature-wrap section{
  padding:  0 10px;
  transition: transform 0.2s; /* Animation */
  filter: saturate(0%);
}

.feature-wrap img{
  height: 40px;
  width: auto;
}

section:hover{
  transform: scale(1.1);
  filter: saturate(100%);
}

@media screen and (max-width: 960px) {
  section:hover{
    filter: saturate(0%);
    pointer-events: none;
    transform: none;
  }
  .feature > .container {
    width: 100%;
    max-width: 500px;
  }
  .text {
    font-size: 14px;
  }
  .feature-wrap img{
    height: 30px;
    width: auto;
  }
}
